body{
    background: rgb(199, 238, 255); /* it is good to use rgb rather than hex code because it flexible in changing color values */
    /* background: url("image url") */
}
#title{
    color: rgb(214, 151, 43)
}

.subtitle{
    color: rgb(235, 180, 87)
}